body {
    background-color: #F5F5F5;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: Inter;
    src: url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
}

header {
    background-color: #003049;
    height: 60px;
    padding: 20px;
}

.Logo {
    float: left;
}

.Logo img {
    height: 30px;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
    text-emphasis-style: bold;
    margin-top: 20px;
    margin-right: 40px;
}

.hero-section {
    text-align: center;
}

.round-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.hero-sentence {
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.5;
}

.hero-section h1 {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
}

.wrapper {
    word-wrap: break-word;
}

.hero-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #EA3546;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 75px;
}

.floating-block {
    background-color: white;
    background-position: center;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 50px;
}

.MyUxSkills h2 {
    justify-content: center;
    text-align: center;
}

.column {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content-section {
    flex: 1;
    justify-content: center;
    text-align: left;
    padding-bottom: 50px;
}

.MyWork h2 {
    justify-content: center;
    text-align: center;
    color: #F5F5F5;
    padding-top: 60px;
    padding-bottom: 40px;
}

.background-color {
    background-color: #003049;
}

.circle-background1 {
    background-color: #EA3546;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}
.content-sectiona {
    color: white;
    padding-left: 100px;
    padding-right: 20px;
    justify-content: center;
}

.view-project1 {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #EA3546;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 75px;
}
.view-project2 {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F86624;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 75px; 
}
.circle-background2 {
    background-color: #F86624;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-project3 {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #43BCCD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 75px; 
} 
.circle-background3 {
    background-color: #43BCCD;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #003049;
    height: 60px;
    padding: 20px;
    border: 1px solid white;
}